.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .first_button {
    animation: shake 2.32s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    25%, 75% {
      transform: translate3d(0, 0, 0);
    }
    30%, 70% {
      transform: translate3d(-1px, 0, 0);
    }
    35%, 65% {
      transform: translate3d(2px, 0, 0);
    }
    40%, 50%, 60% {
      transform: translate3d(-4px, 0, 0);
    }
    45%, 55% {
      transform: translate3d(4px, 0, 0);
    }
  }
  .tab {
    cursor: pointer;
    padding: 8px 16px;
    color: blue;
    border-radius: 5px;
    border-color: blue;
  }
  
  /* Style for the selected tab */
  .tab.selected {
    background-color: #000000; /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
    border-radius: 20px;
  }
  .transparent-background {
    opacity: 0.5;
  }
  /*Animations*/
@keyframes pulse {
  0% {
    transform: scale(0.8);

  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-inn {
  animation: fadeIn 1s 2s ease-in-out;
  /* Run the fade-in animation once */
}

.bg-pulse {
  animation: pulse 2s 1s 1;
}

.logo-container {
  padding: 0;
  /* Set the desired padding for the logo container */
}

.v-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9 aspect ratio */
}

.v-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Animations*/
.animated-text {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 3;
}

.animated-text.fade-in {
  opacity: 1;
  transform: translateY(0);
  z-index: 2;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  /* Initially visible */
  z-index: 9999;
  /* Ensure it's on top of other content */
  animation: fadeIn 0s forwards, slideUp1 1s forwards 2s;
  /* Fade in and then fade out */
}

.logo {
  max-width: 100%;
  height: auto;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideUp1 {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}
